body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #c77dff; /* موف */
}

p {
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: #c77dff;
    text-decoration: none;
    font-size: 20px;
}
